@import url('assets/css/index.css');


:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--disabled-color: grey;
}

* {
	box-sizing: border-box;
}


.error-msg {
	color: red;
}

.disabled {
	color: var(--disabled-color);
}

.KnockEventItem,
.KnockRejectedEventItem,
.ChildEventItem,
.ChildRemovedEventItem {
	display: inline-grid;
	width: calc(100% - 1rem);
	grid-template-columns: auto min-content;
	gap: 1rem;
}

.KnockEventItem .buttons,
.ChildEventItem .buttons {
	display: flex;
	gap: 1rem;
}

main > .section {
	margin-top: 5rem !important;
}

summary > h4 {
	display: inline-block;
	user-select: none;
	cursor: pointer;
}
summary .count {
	color: var(--disabled-color);
}
